<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} GI</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>

<body>
    <h1>{{ title }} Glycemic information</h1>
    <p>Glycemic index is {{ GI }} </p>
    <p>Glycemic load for Average Carb proportion {{ Carb }} is {{ GL }} </p>



    <form action="/GI">
        <input type="text" name="Food" id="Food" placeholder="Enter a Food"/>
        <button type="submit">Submit</button>
    </form>
</body>

</html>